$bg: #{"@theme_bg_color"};
$unfocused-border: #{"@unfocused_borders"};
$border: #{"@borders"};
$button-bg: #{"@button_bg"};

// tokyo-night-storm
$base0B: #9ECE6A;
$base0C: #B4F9F8;
$base0D: #2AC3DE;
$base0E: #BB9AF7;
$base0F: #F7768E;

.Panel {
  background-color: $bg;
}

.MenuContainerUpper {
  border-bottom: solid $border 5px;
}

.Label {
  font-size: 28px;
}

button {
  background-color: $button-bg;
  border: solid $unfocused-border 10px;
  border-radius: 2px;
  font-size: 96px;
  margin: 40px 10px 40px 10px;
  transition-duration: 0.3s;
}

.Focused {
  min-width: 300px;
  margin-top: 10px;
  font-size: 128px;
  border: solid $border 10px;
}
.Focused.Shutdown {
  background-color: $base0F;
}
.Focused.Reboot{
  background-color: $base0E;
}
.Focused.Lock {
  background-color: $base0D;
}
.Focused.Logout {
  background-color: $base0C;
}
.Focused.Sleep {
  background-color: $base0B;
}
