$bg: #{"@theme_bg_color"};
$unfocused-border: #{"@unfocused_borders"};
$border: #{"@borders"};
$button-bg: #{"@button_bg"};
$accent-bg: #{"@accent_bg_color"};

.Panel {
  background-color: $bg;
}

.Label {
  font-size: 28px;
}

button {
  background-color: $button-bg;
  border: solid $unfocused-border 10px;
  border-radius: 2px;
  font-size: 96px;
  margin: 40px 10px 40px 10px;
  transition-duration: 0.3s;
}

.Focused {
  min-width: 300px;
  margin-top: 10px;
  font-size: 128px;
  border: solid $border 10px;
}
.Focused.Shutdown {
  background-color: $accent-bg;
}
.Focused.Reboot {
  background-color: $accent-bg;
}
.Focused.Lock {
  background-color: $accent-bg;
}
.Focused.Logout {
  background-color: $accent-bg;
}
.Focused.Sleep {
  background-color: $accent-bg;
}
